body {
      margin: 0px;
  }
  header
  {
    background-image: url("4 box_.png");
      height: 120px;
      background-repeat: no-repeat;
      margin: 0px;
      /* margin-left: -8px; */
      width: 100%;
      position: relative;
      /* margin-right: -9px; */
      background-size: cover;
  }
  div.profileimage
  {
    border-radius: 73px 73px 73px 73px;
      background-color: khaki;
      width: 154px;
      height: 154px;
      margin-left: 34px;
      margin-right: -27px;
      margin-top: -62px;
      position: relative;
      box-shadow: 0px 0px 2px 4px grey;
  }
  img
  {
    height: 155px;
      width: 150px;
      margin-top: 0px;
      margin-left: 3px;
      /* top: -2px; */
      position: absolute;
      border-radius: 109px;
  }
  div.bar
  {
     height: 2px;
  }
  
  .addprofile
  {
    background-color: rgb(34, 34, 214);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 8px;
    font-weight: bold;
    color: white;

  }
  .profile
  {
      margin-left: 37px;
  }
  div.profile>p:nth-child(1)
  {

  }
  select
  {
    background-color: rgba(15, 11, 226, 0.938);
  }
  .edit
  {
    margin-left: 1161px;
    color: blue;
    font-size: 22px;
    margin-top: -77px;
    position: absolute;
  }
  @media only screen and (max-width: 600px) {
    body {
     background-color:white;
     margin: 0px;
    }
   
  }
  a.more
  {
    
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 8px;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
  }
  .details{
    margin-left: 800px;
    margin-top: -190px;
    position: absolute;
    font-size: 13px;
  }
  .details>p>.fa ,.fa-square
  {
    color: grey;
  }
 .last
 {
  margin-left: 38px;
 }
a.showmore
{
  margin-left: 601px;
    color: blue;
    font-weight: bold;
    font-size: 21px;
}